---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [0]:
from google.colab import drive
drive.mount('/data')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /data

In [0]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [0]:
!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl (108kB)
    100% |████████████████████████████████| 112kB 2.7MB/s
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [0]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [0]:
def get_list_of_university_towns():
  '''Returns a DataFrame of towns and the states they are in from the 
  university_towns.txt list. The format of the DataFrame should be:
  DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
  columns=["State", "RegionName"]  )

  The following cleaning needs to be done:

  1. For "State", removing characters from "[" to the end.
  2. For "RegionName", when applicable, removing every character from " (" to the end.
  3. Depending on how you read the data, you may need to remove newline character '\n'. '''
  df = pd.read_table('/data/My Drive/DS1/data/university_towns.txt', header=None)
  df.columns = ['StateRegion']
  df['StateFlag'] = df['StateRegion'].str.contains(pat=r'\[edit\]')
  df_states = df[df['StateFlag'] == True]
  States = df_states['StateRegion'].str.replace(pat=r'\[edit\]', repl='').unique()
  StateFlags = df['StateFlag'].values
  j = 0
  StateMatchRegion = [States[j]]
  for i in range(1, len(StateFlags)):
    if StateFlags[i] == True:
      j += 1
      StateMatchRegion.append(States[j])
    else:
      j += 0
      StateMatchRegion.append(States[j])
  df['StateMatchRegion'] = StateMatchRegion
  df['RegionName'] = df['StateRegion'].str.replace(pat=r'\s\(.*', repl='')
  ans = df[df['StateFlag'] == False]
  ans = ans.drop(['StateRegion', 'StateFlag'], axis=1)
  ans.columns = ['State', 'RegionName']
  mapping_df = pd.DataFrame({
      "State": list(states.values()),
      "StateAcronyms": list(states.keys())
  })
  ans = pd.merge(ans, mapping_df, how='left')
  return ans

get_list_of_university_towns()

             State                    RegionName StateAcronyms
0          Alabama                        Auburn            AL
1          Alabama                      Florence            AL
2          Alabama                  Jacksonville            AL
3          Alabama                    Livingston            AL
4          Alabama                    Montevallo            AL
5          Alabama                          Troy            AL
6          Alabama                    Tuscaloosa            AL
7          Alabama                      Tuskegee            AL
8           Alaska                     Fairbanks            AK
9          Arizona                     Flagstaff            AZ
10         Arizona                         Tempe            AZ
11         Arizona                        Tucson            AZ
12        Arkansas                   Arkadelphia            AR
13        Arkansas                        Conway            AR
14        Arkansas                  Fayetteville            AR
15        Arkansas                     Jonesboro            AR
16        Arkansas                      Magnolia            AR
17        Arkansas                    Monticello            AR
18        Arkansas                  Russellville            AR
19        Arkansas                        Searcy            AR
20      California                        Angwin            CA
21      California                        Arcata            CA
22      California                      Berkeley            CA
23      California                         Chico            CA
24      California                     Claremont            CA
25      California                        Cotati            CA
26      California                         Davis            CA
27      California                        Irvine            CA
28      California                    Isla Vista            CA
29      California  University Park, Los Angeles            CA
..             ...                           ...           ...
487       Virginia                          Wise            VA
488       Virginia                    Chesapeake            VA
489     Washington                    Bellingham            WA
490     Washington                        Cheney            WA
491     Washington                    Ellensburg            WA
492     Washington                       Pullman            WA
493     Washington  University District, Seattle            WA
494  West Virginia                        Athens            WV
495  West Virginia                    Buckhannon            WV
496  West Virginia                      Fairmont            WV
497  West Virginia                     Glenville            WV
498  West Virginia                    Huntington            WV
499  West Virginia                    Montgomery            WV
500  West Virginia                    Morgantown            WV
501  West Virginia                 Shepherdstown            WV
502  West Virginia                  West Liberty            WV
503      Wisconsin                      Appleton            WI
504      Wisconsin                    Eau Claire            WI
505      Wisconsin                     Green Bay            WI
506      Wisconsin                     La Crosse            WI
507      Wisconsin                       Madison            WI
508      Wisconsin                     Menomonie            WI
509      Wisconsin                     Milwaukee            WI
510      Wisconsin                       Oshkosh            WI
511      Wisconsin                   Platteville            WI
512      Wisconsin                   River Falls            WI
513      Wisconsin                 Stevens Point            WI
514      Wisconsin                      Waukesha            WI
515      Wisconsin                    Whitewater            WI
516        Wyoming                       Laramie            WY

[517 rows x 3 columns]

In [0]:
def get_recession_start():
  """
  Returns the year and quarter of the recession start time as a 
  string value in a format such as 2005q3
  """
  df = pd.read_excel('/data/My Drive/DS1/data/gdplev.xls', skiprows=220, header=None)
  df = df.iloc[:, [4, 6]]
  df.columns = ['Quarterly', 'GDP in billions of chained 2009 dollars']
  df_shift = df.shift(1)
  df_concat = pd.concat([df, df_shift['GDP in billions of chained 2009 dollars']], axis = 1)
  df_concat['Quarterly Difference'] = df_concat.iloc[:, 1] - df_concat.iloc[:, 2]
  is_recession_start = [False, False]
  quarterly_diff = df_concat['Quarterly Difference'].values
  for i in range(2, len(quarterly_diff)):
    if quarterly_diff[i] < 0 and quarterly_diff[i - 1] < 0:
      is_recession_start.append(True)
    else:
      is_recession_start.append(False)
  df_concat['is_recession_start'] = is_recession_start
  ans = df_concat[df_concat['is_recession_start'] == True]['Quarterly'].values[0]
  return ans

get_recession_start()

'2008q4'

In [0]:
def get_recession_end():
  '''Returns the year and quarter of the recession end time as a 
  string value in a format such as 2005q3'''
  df = pd.read_excel('/data/My Drive/DS1/data/gdplev.xls', skiprows=220, header=None)
  df = df.iloc[:, [4, 6]]
  df.columns = ['Quarterly', 'GDP in billions of chained 2009 dollars']
  df_shift = df.shift(1)
  df_concat = pd.concat([df, df_shift['GDP in billions of chained 2009 dollars']], axis = 1)
  df_concat['Quarterly Difference'] = df_concat.iloc[:, 1] - df_concat.iloc[:, 2]
  is_recession_start = [False, False]
  quarterly_diff = df_concat['Quarterly Difference'].values
  for i in range(2, len(quarterly_diff)):
    if quarterly_diff[i] < 0 and quarterly_diff[i - 1] < 0:
      is_recession_start.append(True)
    else:
      is_recession_start.append(False)
  df_concat['is_recession_start'] = is_recession_start
  recession_start_idx = df_concat[df_concat['is_recession_start'] == True]['Quarterly'].values[0]
  df_concat = df_concat.set_index('Quarterly')
  df_after_recession = df_concat.loc[recession_start_idx:, :].drop('is_recession_start', axis = 1)
  is_recession_end = [False, False]
  quarterly_diff = df_after_recession['Quarterly Difference'].values
  for i in range(2, len(quarterly_diff)):
    if quarterly_diff[i] > 0 and quarterly_diff[i - 1] > 0:
      is_recession_end.append(True)
    else:
      is_recession_end.append(False)
  ans = df_after_recession[is_recession_end].index[1]
  return ans

get_recession_end()

'2010q1'

In [0]:
def get_recession_bottom():
  '''Returns the year and quarter of the recession bottom time as a 
  string value in a format such as 2005q3'''
  df = pd.read_excel('/data/My Drive/DS1/data/gdplev.xls', skiprows=220, header=None)
  df = df.iloc[:, [4, 6]]
  df.columns = ['Quarterly', 'GDP in billions of chained 2009 dollars']
  df = df.set_index('Quarterly')
  recession_starts = get_recession_start()
  recession_ends = get_recession_end()
  df_recession = df.loc[recession_starts:recession_ends, :]
  ans = df_recession.idxmin().values[0]
  return ans

get_recession_bottom()

'2009q2'

In [0]:
def convert_housing_data_to_quarters():
  '''Converts the housing data to quarters and returns it as mean 
  values in a dataframe. This dataframe should be a dataframe with
  columns for 2000q1 through 2016q3, and should have a multi-index
  in the shape of ["State","RegionName"].

  Note: Quarters are defined in the assignment description, they are
  not arbitrary three month periods.

  The resulting dataframe should have 67 columns, and 10,730 rows.
  '''
  df = pd.read_csv('/data/My Drive/DS1/data/City_Zhvi_AllHomes.csv')
  df_state_region = df.loc[:, ['State', 'RegionName']]
  df_housing_price = df.loc[:, '2000-01':]
  months = df_housing_price.columns
  quarter_means = []
  for m in range(0, len(months), 3):
    df_subset = df_housing_price.iloc[:, m:m+2]
    quarter_mean = df_subset.mean(axis=1)
    quarter_means.append(quarter_mean)
  Quarters = []
  for y in range(2000, 2017):
    for q in ['q1', 'q2', 'q3', 'q4']:
      Quarters.append(str(y) + q)
  Quarters.pop()
  df_concat = quarter_means[0]
  for i in range(1, len(quarter_means)):
    df_concat = pd.concat([df_concat, quarter_means[i]], axis = 1)
  df_concat.columns = Quarters
  df_concat = pd.concat([df_state_region, df_concat], axis = 1)
  ans = df_concat.set_index(['State', 'RegionName'])
  
  return ans

convert_housing_data_to_quarters()

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
NY,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,512800.0,522300.0,527300.0,531500.0,538400.0,554300.0,571150.0,580300.0,592350.0,587200.0
CA,Los Angeles,205700.0,213400.0,220050.0,225200.0,231800.0,238200.0,243950.0,251600.0,260350.0,270600.0,...,496150.0,507300.0,517450.0,527000.0,536750.0,545600.0,556200.0,564200.0,575900.0,584050.0
IL,Chicago,137550.0,142800.0,147300.0,151200.0,156300.0,160850.0,165850.0,169600.0,174750.0,177700.0,...,192500.0,194750.0,200900.0,200850.0,205250.0,207900.0,208400.0,206000.0,207750.0,212000.0
PA,Philadelphia,52900.0,53550.0,53950.0,54650.0,55250.0,55450.0,56100.0,57250.0,58850.0,60500.0,...,113550.0,115200.0,115500.0,116100.0,117450.0,120700.0,122500.0,122550.0,126700.0,128700.0
AZ,Phoenix,111350.0,114000.0,115750.0,117300.0,119050.0,121350.0,122550.0,123950.0,126200.0,128150.0,...,164150.0,164950.0,167800.0,171250.0,173500.0,178100.0,183100.0,187300.0,190750.0,195200.0
NV,Las Vegas,132150.0,134250.0,135100.0,136650.0,139050.0,141550.0,142950.0,145550.0,149000.0,150700.0,...,169350.0,173000.0,175000.0,177250.0,180450.0,186250.0,189950.0,194200.0,196700.0,199950.0
CA,San Diego,221050.0,232300.0,243650.0,254250.0,265150.0,275150.0,283250.0,290500.0,299700.0,310250.0,...,478750.0,487450.0,495500.0,502050.0,510500.0,518750.0,524850.0,528500.0,535400.0,539750.0
TX,Dallas,84800.0,83700.0,84700.0,86950.0,89750.0,89400.0,89000.0,90450.0,92350.0,93600.0,...,106350.0,108450.0,111150.0,112950.0,119750.0,127500.0,133600.0,139650.0,143900.0,149300.0
CA,San Jose,369050.0,401400.0,428200.0,451800.0,469650.0,471650.0,458550.0,447900.0,439900.0,454350.0,...,676400.0,693700.0,712350.0,727900.0,752200.0,774200.0,787650.0,799450.0,818350.0,822200.0
FL,Jacksonville,88400.0,89250.0,91450.0,92850.0,94200.0,95450.0,96800.0,98700.0,100900.0,103100.0,...,120450.0,121600.0,123000.0,123800.0,126300.0,129750.0,131750.0,133500.0,136600.0,139900.0
CA,San Francisco,424650.0,459400.0,481850.0,492050.0,493550.0,496200.0,501450.0,513300.0,519000.0,532600.0,...,921800.0,951400.0,966550.0,988650.0,1053350.0,1094500.0,1102050.0,1120050.0,1121500.0,1106400.0
TX,Austin,142750.0,144450.0,148850.0,154300.0,161000.0,161000.0,159400.0,160100.0,159350.0,157700.0,...,248400.0,252000.0,257150.0,264750.0,273900.0,280850.0,286200.0,292250.0,300500.0,304450.0
MI,Detroit,65300.0,68750.0,66600.0,67100.0,67250.0,68300.0,69050.0,69900.0,70700.0,72150.0,...,37400.0,37050.0,37200.0,36300.0,35750.0,36850.0,38350.0,38150.0,37450.0,37900.0
OH,Columbus,94100.0,95600.0,96950.0,98000.0,99250.0,100100.0,100850.0,102050.0,103200.0,104600.0,...,103050.0,104150.0,106200.0,107550.0,109150.0,111000.0,114600.0,116450.0,117900.0,120100.0
TN,Memphis,72450.0,73050.0,73850.0,73950.0,74100.0,74800.0,75400.0,75950.0,76200.0,76750.0,...,67950.0,68800.0,71100.0,70800.0,68700.0,68600.0,69400.0,70350.0,73700.0,75900.0
NC,Charlotte,126750.0,128050.0,130000.0,131250.0,132850.0,133250.0,132750.0,133000.0,134150.0,135100.0,...,149300.0,150350.0,152350.0,154700.0,157450.0,159900.0,162150.0,166000.0,168950.0,172400.0
TX,El Paso,76100.0,76950.0,76650.0,77150.0,78100.0,78450.0,77550.0,76900.0,76600.0,76450.0,...,111750.0,111750.0,111750.0,111650.0,111250.0,111200.0,110400.0,110400.0,111450.0,112200.0
MA,Boston,205000.0,216800.0,231100.0,241300.0,248600.0,255450.0,265400.0,273700.0,281150.0,288200.0,...,424750.0,430450.0,438900.0,447400.0,454000.0,462300.0,470150.0,480800.0,488850.0,501700.0
WA,Seattle,247450.0,254200.0,261650.0,266850.0,270500.0,272550.0,273500.0,277600.0,280100.0,283750.0,...,440550.0,450000.0,458300.0,464950.0,488900.0,510850.0,530850.0,547750.0,572400.0,589700.0
MD,Baltimore,59500.0,59600.0,58800.0,59500.0,59550.0,59850.0,61650.0,63400.0,63500.0,64700.0,...,109000.0,109900.0,107400.0,107800.0,110600.0,113700.0,113850.0,114600.0,114650.0,115150.0
CO,Denver,161400.0,166800.0,173300.0,179300.0,185400.0,191700.0,195900.0,198700.0,201000.0,202050.0,...,269800.0,276000.0,285450.0,295500.0,308550.0,318700.0,329100.0,334550.0,341200.0,351550.0
DC,Washington,137050.0,142550.0,148750.0,147700.0,149200.0,153600.0,163150.0,171250.0,178900.0,190350.0,...,446000.0,451850.0,459300.0,464550.0,478050.0,492100.0,500100.0,504250.0,504250.0,516250.0
TN,Nashville,113500.0,115200.0,115650.0,116850.0,117800.0,118950.0,120000.0,120700.0,121400.0,122400.0,...,160450.0,161700.0,166250.0,170500.0,175600.0,180500.0,188100.0,194200.0,199350.0,206100.0
WI,Milwaukee,77850.0,78800.0,80700.0,82150.0,83650.0,85350.0,86800.0,88200.0,89300.0,91000.0,...,91950.0,92250.0,91700.0,93150.0,94000.0,94100.0,94700.0,94400.0,96100.0,98850.0
AZ,Tucson,101700.0,102750.0,104200.0,105450.0,106900.0,108550.0,110200.0,112400.0,114650.0,116750.0,...,142350.0,143300.0,144200.0,144000.0,144950.0,146200.0,148050.0,149150.0,150900.0,152700.0
OR,Portland,152550.0,154250.0,156500.0,157200.0,159500.0,161550.0,163650.0,167250.0,170300.0,173600.0,...,281950.0,285550.0,294500.0,300900.0,309500.0,322900.0,340700.0,354000.0,366850.0,387050.0
OK,Oklahoma City,76200.0,77350.0,78450.0,79000.0,79700.0,80250.0,81050.0,81650.0,82400.0,83400.0,...,117850.0,118750.0,120100.0,120450.0,122100.0,124300.0,126800.0,127650.0,129150.0,130300.0
NE,Omaha,112600.0,113700.0,116250.0,118450.0,120850.0,120000.0,118150.0,117350.0,117950.0,117750.0,...,130150.0,129950.0,132300.0,132800.0,134250.0,136150.0,139850.0,141250.0,142750.0,143450.0
NM,Albuquerque,125550.0,126700.0,126450.0,126650.0,127000.0,127600.0,128400.0,129650.0,130950.0,131900.0,...,163150.0,163800.0,164800.0,165100.0,165800.0,166450.0,167100.0,168700.0,170400.0,171900.0
CA,Fresno,93800.0,95000.0,96250.0,97850.0,100150.0,103050.0,106650.0,109750.0,113350.0,117650.0,...,169200.0,172800.0,177500.0,180300.0,181550.0,185200.0,187350.0,188450.0,191950.0,196450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TX,Granite Shoals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,116700.0,117600.0,117550.0,116950.0,119000.0,120700.0,127050.0,132600.0,138800.0,146450.0
MD,Piney Point,155750.0,154600.0,158000.0,163300.0,163350.0,164800.0,164300.0,166600.0,177300.0,180450.0,...,293150.0,308500.0,308350.0,311150.0,301050.0,305100.0,308650.0,317900.0,323950.0,324600.0
WI,Maribel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,130550.0,129150.0,129300.0,130750.0,130850.0,129600.0,129100.0,128250.0,128550.0,134200.0
ID,Middleton,106150.0,104850.0,102200.0,103350.0,106000.0,107800.0,110850.0,110950.0,114100.0,113750.0,...,144150.0,145550.0,146200.0,145650.0,147800.0,147850.0,150550.0,153600.0,156350.0,160750.0
CO,Bennett,132350.0,135250.0,138950.0,144150.0,147600.0,151550.0,154100.0,155700.0,158450.0,160250.0,...,150050.0,160450.0,169950.0,177400.0,183050.0,190800.0,195000.0,198950.0,206100.0,212600.0
NH,East Hampstead,160900.0,167850.0,173400.0,178650.0,189700.0,194650.0,198400.0,205550.0,212250.0,212200.0,...,249200.0,251050.0,255700.0,258000.0,261250.0,261200.0,267900.0,271800.0,276800.0,282450.0
MO,Garden City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105900.0,103950.0,103950.0,108350.0,96350.0,98750.0,102750.0,105500.0,111000.0,113600.0
AR,Mountainburg,55800.0,63500.0,67550.0,68650.0,69550.0,64150.0,63300.0,65550.0,65250.0,65900.0,...,81350.0,84450.0,88100.0,89000.0,86650.0,82800.0,88950.0,97450.0,101500.0,103400.0
WI,Oostburg,107050.0,107500.0,111800.0,115100.0,119050.0,120050.0,120450.0,119650.0,119850.0,119150.0,...,129650.0,128250.0,127550.0,127300.0,126800.0,130000.0,131800.0,132650.0,133900.0,136350.0
CA,Twin Peaks,96900.0,100050.0,101350.0,101550.0,103450.0,106950.0,109700.0,110850.0,112950.0,115800.0,...,151550.0,146850.0,146900.0,142300.0,151250.0,154800.0,158450.0,163400.0,167000.0,173500.0
NY,Upper Brookville,1231400.0,1226600.0,1234950.0,1257750.0,1288350.0,1331200.0,1389950.0,1470250.0,1528900.0,1558750.0,...,1788200.0,1758300.0,1727700.0,1742900.0,1787600.0,1773500.0,1824100.0,1892600.0,1941900.0,1968800.0
HI,Volcano,97950.0,104450.0,112950.0,125150.0,119050.0,118200.0,123350.0,121500.0,122800.0,118150.0,...,201500.0,225850.0,233500.0,234050.0,234100.0,224950.0,230450.0,240750.0,248700.0,247850.0
SC,Wedgefield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,75350.0,70250.0,71200.0,76150.0,72450.0,70450.0,69300.0,68350.0,73000.0,80700.0
MI,Williamston,158400.0,160950.0,163800.0,166100.0,166300.0,168050.0,171350.0,174400.0,178250.0,179550.0,...,165000.0,168750.0,170250.0,173950.0,175600.0,178550.0,182550.0,180900.0,182550.0,183000.0
AR,Decatur,63550.0,64350.0,65300.0,66750.0,66850.0,67850.0,66650.0,65600.0,64750.0,64650.0,...,88900.0,92250.0,95100.0,93050.0,94950.0,95300.0,96800.0,96600.0,96600.0,96850.0
TN,Briceville,39600.0,41300.0,43500.0,44950.0,44750.0,45300.0,45100.0,43600.0,44350.0,43600.0,...,56550.0,54750.0,52850.0,50550.0,46100.0,47700.0,44550.0,40650.0,41850.0,40850.0
IN,Edgewood,91550.0,91600.0,92750.0,94350.0,98500.0,100200.0,100750.0,100850.0,101950.0,102000.0,...,91900.0,93650.0,94550.0,96400.0,94200.0,96050.0,99400.0,99550.0,99750.0,100950.0
TN,Palmyra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,122050.0,126600.0,127200.0,122650.0,120750.0,119250.0,124900.0,127300.0,131500.0,137750.0
MD,Saint Inigoes,148300.0,147000.0,154750.0,164100.0,163250.0,168150.0,166650.0,164850.0,167200.0,168250.0,...,280350.0,288750.0,286750.0,285450.0,282000.0,278000.0,277350.0,277900.0,282900.0,281400.0
IN,Marysville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,116250.0,115150.0,117000.0,112500.0,110950.0,115550.0,118200.0,128350.0,123750.0,124200.0
CA,Forest Falls,113750.0,114350.0,114500.0,111350.0,112950.0,113300.0,112500.0,115200.0,117400.0,124450.0,...,166100.0,165850.0,175850.0,176800.0,180650.0,187850.0,200450.0,188950.0,190300.0,186650.0
MO,Bois D Arc,107500.0,106950.0,107550.0,107850.0,110050.0,113000.0,113300.0,112300.0,113000.0,115500.0,...,137600.0,137300.0,139950.0,144200.0,147550.0,145850.0,149600.0,147450.0,144350.0,144000.0
VA,Henrico,128200.0,130400.0,132150.0,133050.0,134850.0,136500.0,138200.0,141000.0,143100.0,145650.0,...,201350.0,203650.0,205450.0,206600.0,209500.0,212000.0,213400.0,216100.0,215900.0,220150.0
NJ,Diamond Beach,172500.0,181950.0,188200.0,193000.0,193550.0,206100.0,227300.0,247000.0,259450.0,263250.0,...,379900.0,388500.0,386400.0,392800.0,397150.0,399150.0,399850.0,404050.0,404150.0,399000.0
TN,Gruetli Laager,35500.0,35350.0,36400.0,37400.0,37500.0,37700.0,39250.0,40050.0,41600.0,41700.0,...,55950.0,55850.0,57000.0,58450.0,63850.0,69550.0,71100.0,75100.0,76250.0,77500.0
WI,Town of Wrightstown,101300.0,104450.0,110900.0,113600.0,124750.0,129750.0,130050.0,129250.0,130800.0,134650.0,...,144250.0,146800.0,149050.0,148450.0,149400.0,149750.0,149850.0,150150.0,150650.0,155000.0
NY,Urbana,78500.0,80600.0,90550.0,97850.0,95300.0,97750.0,102300.0,99750.0,94050.0,94050.0,...,131200.0,136600.0,139750.0,141950.0,138600.0,136300.0,136050.0,138200.0,144300.0,143000.0
WI,New Denmark,113950.0,118350.0,125050.0,130550.0,142350.0,146800.0,148150.0,148700.0,152400.0,156850.0,...,173600.0,180200.0,185950.0,187350.0,188450.0,188500.0,188500.0,191000.0,192250.0,197600.0
CA,Angels,149600.0,155800.0,157300.0,165950.0,175850.0,182250.0,190350.0,185400.0,183550.0,185100.0,...,242700.0,253050.0,258450.0,262250.0,250000.0,259300.0,279450.0,277300.0,272850.0,269950.0
WI,Holland,150900.0,150600.0,152700.0,155000.0,160600.0,165350.0,167750.0,167600.0,166550.0,161800.0,...,201400.0,201350.0,201500.0,204750.0,207400.0,211900.0,217050.0,221550.0,226450.0,234950.0

In [0]:
def run_ttest():
  '''First creates new data showing the decline or growth of housing prices
  between the recession start and the recession bottom. Then runs a ttest
  comparing the university town values to the non-university towns values, 
  return whether the alternative hypothesis (that the two groups are the same)
  is true or not as well as the p-value of the confidence. 

  Return the tuple (different, p, better) where different=True if the t-test is
  True at a p<0.01 (we reject the null hypothesis), or different=False if 
  otherwise (we cannot reject the null hypothesis). The variable p should
  be equal to the exact p value returned from scipy.stats.ttest_ind(). The
  value for better should be either "university town" or "non-university town"
  depending on which has a lower mean price ratio (which is equivilent to a
  reduced market loss).'''
  housing_data_quarters = convert_housing_data_to_quarters()
  recession_start = get_recession_start()
  recession_bottom = get_recession_bottom()
  quarters = housing_data_quarters.columns
  recession_start_idx = list(quarters).index(recession_start)
  before_recession = quarters[:recession_start_idx][-1]
  new_data = housing_data_quarters.loc[:, [before_recession, recession_bottom]].reset_index()
  university_towns = get_list_of_university_towns().drop('State', axis=1)
  new_data = pd.merge(new_data, university_towns, how='left', left_on = ['State', 'RegionName'], right_on = ['StateAcronyms', 'RegionName'])
  new_data = new_data.assign(is_university_town = [True if isinstance(x, str) else False for x in new_data['StateAcronyms'].values])
  new_data = new_data.drop('StateAcronyms', axis=1)
  new_data = new_data.assign(price_ratio = new_data[before_recession] / new_data[recession_bottom])
  university_towns = new_data[new_data['is_university_town']]['price_ratio'].values
  non_university_towns = new_data[new_data['is_university_town'] == False]['price_ratio'].values
  ttest_res = ttest_ind(university_towns, non_university_towns, nan_policy='omit')
  reject_null_hypothesis = None
  lower_mean_price_ratio = None
  if ttest_res[1] < 0.01:
    reject_null_hypothesis = True
  else:
    reject_null_hypothesis = False
  if ttest_res[0] < 0:
    lower_mean_price_ratio = "university town"
  else:
    lower_mean_price_ratio = "non-university town"
  return reject_null_hypothesis, ttest_res[1], lower_mean_price_ratio

run_ttest()

(True, 0.005366703729629153, 'university town')